*.o
.vscode
!IMG
watchdogs
watchdogs.win
watchdogs.debug.win
watchdogs_termux
watchdogs.debug
watchdogs.toml
pawnc*
pawno/*
pawno
samp*
open.mp*
omp*
openmp*
Server/*
.wd_compiler.log
gitignore
_S
ssamp