*.o
.vscode
!IMG
watchdogs
watchdogs.win
watchdogs.debug.win
watchdogs_termux
watchdogs.debug
watchdogs.toml
pawnc*
qawno/*
qawno
pawno/*
pawno
samp*
open.mp*
omp*
openmp*
Server/*
.wd_compiler.log
components/*
components
plugins/*
plugins
server.cfg
wd_depends.json
.gitignore